@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* min-width: 320px; */
    font-size: 62.5%;
}

/* html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
} */

:root {
    --light-green: #CCD9BF;
    --dark-green: #507445;
    --light-blue: #B6D6F2;
    --dark-blue: #517EA6;
    --light-pink: #FFB5B5;
    --dark-pink: #FF7878;
    --light-mint: #C2DDC8;
    --dark-mint :#99BFB3;
    --light-purple: #C9B0EB;
    --dark-purple: #996799;
    --dark-orange: #F2994B;
    --light-orange: #F2BF80;

    --sm: 1.2rem;
    --md: 1.6rem;
    --lg: 2.2rem;
}

/* body {
    min-width: 320px;
} */

.a {
    font-size: var(--md);
    text-decoration: none;
    color: black;

}

.main {
    font-family: 'Roboto', sans-serif;
    /* min-width: 320px; */
    display: grid;
}

.h3 {
    font-size: var(--lg);
    font-weight: 500;
}

.main-aboutus {
    display: grid;
    grid-template-rows: 1fr 1fr 0.5fr 1fr;
    width: auto;
    height: 476px;
    background-color: var(--light-purple);
    position: relative;
    overflow-x: hidden;
}

.main .h3:nth-child(1) {
    padding: 15px;
    text-align: center;
}

.main-aboutus .waves-blue-inverted {
    min-width: 100%;
    max-height: 75px;
    position: absolute;
    top: 0 !important;
}

.main-aboutus .p {
    font-size: var(--md);
    padding: 5px 15px 0 15px;
    text-align: justify;
    margin-top: 70px;
}

.aboutus-container {
    /* margin-top: 40px; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.container-buttons {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* gap: 10px; */
    justify-items: center;
    align-items: center;
}

.secondary-button {
    display: grid;
    border-radius: 12px;
    border: 1px solid black;
    width: 110px;
    height: 35px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    align-items: center;
    justify-items: center;
}

.container-buttons .financiera:nth-child(1){
    background: var(--light-green);
    font-size: 1.3rem;
}

.container-buttons .laboral:nth-child(2){
    background: var(--light-blue);
    font-size: 1.3rem;
}

.container-buttons .emocional:nth-child(3){
    background: var(--light-pink);
    font-size: 1.3rem;
}

.main-aboutus .waves-blue {
    min-width: 100%;
    max-height: 75px;
    position: absolute;
    bottom: 0;
}

.main-aboutus .h4 {
    padding-top: 12px;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
}

.main-services {
    display: grid;
    width: auto;
    height: 476px;
    background-color: var(--light-purple);
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

.main-services .wave-green-inverted {
    min-width: 100%;
    max-height: 75px;
    position: absolute;
    top: 0 !important;
}

.main-services .h3{
    text-align: left !important;
    margin-top: 75px;
}

.services-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    justify-items: center;
}

.main-services .h3 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-left: 12px;
}

.services-container .p {
    font-size: var(--md);
}

.main-services .encuesta {
    text-decoration: none;
    background-color: var(--dark-purple);
    border-radius: 12px;
    border: 1px solid black;
    width: 110px;
    height: 35px;
    cursor: pointer;
    font-size: var(--sm);
    font-weight: bold;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navigate-boat {
    justify-self: center;
    
}

.main-services .wave-green {
    min-width: 100%;
    max-height: 75px;
    position: absolute;
    bottom: 0;
}

.main-benefits {
    display: grid;
    grid-template-rows: repeat(3,1fr);
    width: auto;
    height: 476px;
    background-color: var(--light-purple);
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: center;
    justify-items: center;
    align-items: center;
    justify-items: center;
}

.main-benefits .wave-pink-inverted {
    min-width: 100%;
    max-height: 75px;
    position: absolute;
    top: 0 !important;
}

.main-benefits .benefits-container {
    display: grid;
    row-gap: 30px;
    grid-area: 2 / 3;
    grid-template-columns: repeat(2, 1fr);
}

.main-benefits .button-container {
    grid-area: 3 / 3;
    transform: translateY(100%);
    visibility: hidden;

    animation-name: button-container;
    animation-duration: 0.5s;
    animation-delay: 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes button-container {
    0% {
        transform: translateY(100%);
        

    }
    100% {
        transform: translateY(0px);
        visibility: visible;
        
    }
}

.main-benefits .button-container .register {
    text-decoration: none;
    background: var(--dark-purple);
    width: 110px;
    height: 35px;
    cursor: pointer;
    font-size: var(--sm);
    font-weight: bold;
    color: black;
}

.main-benefits .wave-pink {
    min-width: 100%;
    max-height: 75px;
    position: absolute;
    bottom: 0;
}