
    


.boton{
    flex-grow: 1;
    padding: 5px 20px;
    border-radius: 20%;
    display: block;
    text-decoration: none;
   
}

.label{
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;


}

label:hover{
 cursor:pointer;
 background: rgba(0,0 ,0 ,0.3 alpha);
}

.menu{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.menu .boton:hover {
    background: rgba(0,0 ,0 ,0.3 alpha);
}

.menu boton  {
    flex-grow: 1;
    border-right: 1px solid #fff;
}

@media (max-width:768px){

    .label{
        display: block;
    }
    .menu{
        position: absolute;
        flex-direction: column;
        width: 70%;
        margin-right: -70%;
        transition: all 0.5s;
    }

    #btn-menu:checked ~ .menu{
        margin: 0;
    }
}