* {
    font-size: 62.5%;
}

:root {
    --light-green: #CCD9BF;
    --dark-green: #507445;
    --light-blue: #B6D6F2;
    --dark-blue: #517EA6;
    --light-pink: #FFB5B5;
    --dark-pink: #FF7878;
    --light-mint: #C2DDC8;
    --dark-mint :#99BFB3;
    --light-purple: #C9B0EB;
    --dark-purple: #996799;
    --deep-purple: #422E53;

    --sm: 1.2rem;
    --md: 1.6rem;
    --lg: 2.2rem;
}

.navbar-logo {
    width: 25px;
    height: 25px;
    background-color: var(--dark-purple) !important;
}


.dropbtn {
    display: grid;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    align-items: center;
    justify-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light-purple);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -40px;
}

.dropdown-content .item {
    color: black;
    padding: 12px 16px; 
    display: block;
    text-decoration: none;
    font-size: var(--sm);
}

.dropdown-content .item:hover {
    background-color: var(--dark-purple);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--dark-purple);
}
