@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* min-width: 320px; */
    font-size: 62.5%;
}

/* html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
} */

:root {
    --light-green: #CCD9BF;
    --dark-green: #507445;
    --light-blue: #B6D6F2;
    --dark-blue: #517EA6;
    --light-pink: #FFB5B5;
    --dark-pink: #FF7878;
    --light-mint: #C2DDC8;
    --dark-mint :#99BFB3;
    --light-purple: #C9B0EB;
    --dark-purple: #996799;
    --dark-orange: #F2994B;
    --light-orange: #F2BF80;
    --white: #FFFFFF;

    --sm: 1.2rem;
    --md: 1.6rem;
    --lg: 2.2rem;
}

.a {
    font-size: var(--md);
    text-decoration: none;
    /* color: black; */

}

.down-buttons {
    display: grid;
    position: relative;
}

.down-buttons-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: fixed;
    bottom: 0;
}

.down-buttons-pilar-container {
    display: grid;
    width: auto;
    height: 35px;
    border: 1px solid black;
    justify-items: center;
    align-items: center;
    padding: 5px;
}

.down-buttons-pilar-container:nth-child(1) {
    background: var(--dark-green);

    
}
.down-buttons-pilar-container:nth-child(2) {
    background: var(--dark-blue);
}
.down-buttons-pilar-container:nth-child(3) {
    background: var(--dark-pink);
}

.down-buttons-pilar-container > .down-buttons-pilar-container__text {
    
    color: var(--white);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}