@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* min-width: 320px; */
    font-size: 62.5%;
}

/* html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
} */

:root {
    --light-green: #CCD9BF;
    --dark-green: #507445;
    --light-blue: #B6D6F2;
    --dark-blue: #517EA6;
    --light-pink: #FFB5B5;
    --dark-pink: #FF7878;
    --light-mint: #C2DDC8;
    --dark-mint :#99BFB3;
    --light-purple: #C9B0EB;
    --dark-purple: #996799;
    --dark-orange: #F2994B;
    --light-orange: #F2BF80;

    --sm: 1.2rem;
    --md: 1.6rem;
    --lg: 2.2rem;
}

/* body {
    min-width: 320px;
} */

.a {
    font-size: var(--sm);
    text-decoration: none;
    color: black;
}

.main {
    width: 100%;
    height: auto;
    background-color: var(--light-green);
    display: grid;
    position: relative;
    padding: 0 15px 0 20px;
}

.main .up {
    min-width: 100%;
    max-height: 65px;
    position: absolute;
    top: 0;
}

.hero {
    margin-top: 70px;
    width: 230px;
    height: 230px;
    justify-self: center;

}

.principal-title {
    padding: 20px 40px 20px auto;
    font-size: 2.4rem;
    font-weight: bold;
}

.title {
    font-size: var(--lg);
}

.paragraph {
    font-size: var(--md);
    text-align: justify;
}

.image {
    width: 150px;
    height: 150px;
}

.main-tools {
    margin-top: 30px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(75px, 200px));
    grid-auto-rows: 1fr;
    gap: 7px;
    align-items: center;
    justify-items: center;
}

.tools--title {
    grid-area: 1 / 1 / 2 / 2;
}
.tools--prg {
    grid-area: 2 / 1 / 3 / 2;
}
.tools--img {
    grid-area: 1 / 2 / 3 / 3;
}

.main-calculators {
    margin-top: 30px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
    align-items: center;
    justify-items: center;
}

.calculators--title{
    grid-area: 1 / 1 / 2 / 2;
}
.calculators--prg:nth-child(2){
    grid-area: 1 / 2 / 2 / 3;
}
.calculators--img{
    grid-area: 2 / 1 / 3 / 2;
    object-fit: cover;
}
.calculators--prg:nth-child(4){
    grid-area: 2 / 2 / 3 / 3;
}

.main-spends {
    margin-top: 30px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7px;
    align-items: center;
    justify-items: center;
}

.spends--title:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
}
.spends--prg:nth-child(2){
    grid-area: 1 / 2 / 2 / 3;
}
.spends--prg:nth-child(3){
    grid-area: 2 / 2 / 3 / 3;
}

.register-container .register {
    background: var(--dark-green);
}

.main .down {
    min-width: 100%;
    max-height: 65px;
    position: absolute;
    bottom: 0;
}